################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vcxproj
*.filters
*.user
*.sln
*.opensdf
*.sdf
